body {
  font-family: Arial, sans-serif;
  background-color: #f9f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #7d9fb7;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #7d9fb7;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 16px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #555;
}

input[type='text'],
input[type='password'],
select {
  padding: 10px;
  border: 1px solid #c4d3dc;
  border-radius: 5px;
  background-color: #f0f4f8;
  color: #555;
  font-size: 14px;
  outline: none;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 5px;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  margin-bottom: 15px;
}

button {
  background-color: #bcd8d3;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a1c3c3;
}

#error-message {
  font-size: 12px;
  margin-bottom: 15px;
  color: red;
}

.error {
  font-size: 12px;
  margin-bottom: 15px;
  color: red;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }
}

.change {
  cursor: pointer;
  color: #a1c3c3;
}

.change:hover {
  text-decoration: underline;
}
